body{
    background-color:white;
    font-size: 20px;
color: blue;
text-align: center;
}

p{
    font-size: 16px;
    color: black;
}
#Triathlon{
    color: blue;
    font-size: 20px;
}
#conteudo{
    display: flex;
    margin-left: 200px;
}
#imagem1{
    margin-left: 100px;
}
#lista{
    font-size: 40px;
    color: black;
}